# Ignorar ambientes virtuais
.venv/
venv/
env/

# Ignorar pastas de compilação do .exe
build/
dist/
*.spec

# Ignorar arquivos temporários do Python
__pycache__/
*.pyc

# Ignorar o relatório baixado
Relatorio_Temporario/
*.zip
*.xlsx

.env